.padding40 {
  padding: 40px;
}
.margin20{
  margin: 20px;
}
.subheading {
  font-size: 20px;
  font-weight: 400;
  color: #525252;
  ;
}
.projectImg{
  height:50%;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .projectImg{
    width: 100%;
  }
}