* {
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 64px;
  width: 70%;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-top: 30px;

}

.h2 {
  font-size: 63px;
  font-weight: 600;
  text-align: center;

}

.whiteText {
  color: white;
}

.blackText {
  color: black;
  font-weight: 600;
}

.greyText {
  color: #525252;
  ;
}

.h3 {
  font-size: 54px;
  font-weight: 600;
  text-align: left;
  margin: 0;

}

.body2xl {
  font-size: 20px;
  font-weight: 400;
  text-align: center;

}

.bodyxl {
  font-size: 18px;
  font-weight: 400;
  text-align: left;

}

.xSmall {
  font-size: 14px;
  font-weight: 600;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}


.primaryButton {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: (153px)px;
  height: (52px)px;
  padding: 12px 28px 12px 28px;
  border-radius: 40px;
  border-width: 0px;
}

.orangeBackground {
  background: linear-gradient(315deg, #FB432C 0%, #FF591E 100%);
  color: white;
}

.whiteBackground {
  background: white;
  color: black;
}

.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}